:root {
  /* Color palette from https://coolors.co/palette/1c1c1c-daddd8-ecebe4-eef0f2-fafaff */
  --color-black: #1c1c1c;
  --color-white: #ecebe4;
  --color-sunlight: #fff;
  --color-shadow: #1c1c1c;
  --moon-size: 15rem;
}

@font-face {
  font-family: Voyage;
  src: url(../assets/fonts/85_20070_voyage-light.woff) format("woff");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Welcome;
  src: url(../assets/fonts/Welcomeweb-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
body {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
}

.layout {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Voyage", serif;
  font-size: 4em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  font-weight: 100;
  line-height: 1;
}

p {
  font-family: "Welcome", sans-serif;
}

.moon {
  display: inline-block;
  width: var(--moon-size);
  height: var(--moon-size);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0.25rem;
  position: relative;
}
.moon .moon_phase {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.moon > * {
  position: absolute;
  top: 0;
  left: 0;
}
.moon:first-of-type .light {
  animation-delay: -2.5s;
}
.moon:last-of-type .light {
  animation-delay: -17.5s;
}

.light {
  box-sizing: border-box;
  width: 20rem;
  height: 20rem;
  background-color: var(--color-shadow);
  border-radius: 50%;
  filter: blur(0.25rem);
  mix-blend-mode: screen;
  transform: scale(0.75);
  transform-origin: top left;
}
.light.waning-gibbous {
  border-left: 9rem solid var(--color-sunlight);
  border-right-style: solid;
  border-right-color: var(--color-shadow);
  background-color: var(--color-sunlight);
  transition: border-right-width 2s ease-in-out;
}
.light.waning-crescent {
  border-left-style: solid;
  border-left-color: var(--color-sunlight);
  border-right: 10rem solid var(--color-shadow);
  background-color: var(--color-shadow);
  transition: border-left-width 2s ease-in-out;
}

.texture {
  width: var(--moon-size);
  height: var(--moon-size);
  border-radius: 50%;
  background-image: url(https://www.pennlive.com/resizer/dp_dvs4Zo8pljrfn2kUqoERJ90M=/800x0/smart/image.pennlive.com/home/penn-media/width600/img/wildaboutpa/photo/14-blue-moonjpg-e541a63d92f2ed42.jpg);
  background-position: center center;
  background-size: 160%;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.sphere {
  width: var(--moon-size);
  height: var(--moon-size);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: inset 0 0 1em var(--color-black);
}

/* Colors */
/* Others */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: white;
  background-image: linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0), linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0);
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 #cac6cb, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 white;
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  z-index: 1;
}

::-webkit-scrollbar-corner {
  background-color: #cac6cb;
}

::-webkit-resizer {
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==");
  background-position: bottom right;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

::-webkit-scrollbar-button {
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 #cac6cb, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 white;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: 65% center;
}
::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
}
::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}
::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}
::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:active {
  border-top: 1px solid #a099a1;
  border-left: 1px solid #a099a1;
  border-bottom: 1px solid #a099a1;
  border-right: 1px solid #a099a1;
  box-shadow: none;
}

/*# sourceMappingURL=styles.css.map */
