/* Icon Library */
.icon-grid {
    display: flex;
    margin: var(--sp-base);
    gap: var(--sp-base);
    flex-wrap: wrap;
    width: calc(84px * 2);
}

.window-body > .icon-grid {
    width: 100%;
}

.icon-grid div:nth-child(2n) {
    flex-break: after;
}

a.icon-link {
    color: black;
    text-decoration: none;
}

div.icon-app {
    width: 64px;
    text-align: center;
    font-size: 14px;
    position: relative;

    span {
        border: 1px dotted rgba(0,0,0,0);
        box-sizing: content-box;
    }

    span:first-child {
        display: block;
        height: 32px;
        width: 32px;
        margin: 0 auto;
    }

    &:active {

        span {
            background-color: $transparent-blue;
            border: dotted 1px $opaque-blue;
        }
    }

    &.new {
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 10px;
            right: 0;
            background-image: url("https://sailorven.us/assets/new-fire.gif");
            width: 32px;
            height: 32px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

div.icon-app img {
    display: block;
    width: 32px;
    margin: auto;
}

div.icon-app:hover {
    cursor: hand;
}

.icon-app .folder {
    background-image: url('../images/Folder.ico');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 32px;
}

.icon-app:hover .folder {
    background-image: url('../images/Folder-Open.ico');
}

.icon-app .wing {
    background-image: url('../images/main_small.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 32px;
}
.icon-app:hover .wing{
    background-image: url('../images/main_small_hover.png');
}

.icon-app .moon {
    background-image: url('../images/Moon_rotating.gif');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 32px;
}
