.start-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: var(--sp-xs);
    border: 0;
    background: $g2;
    box-shadow: $shadow;
    padding: var(--sp-xs);
}

.start-bar button {
    background: $g2;
    border: 0;
    box-shadow: $shadow;
    padding: var(--sp-xs);
    cursor: pointer;

    &:active {
        box-shadow: $shadow-reverse;
    }
}