.start-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: var(--sp-xs);
    border: 0;
    background: $g2;
    box-shadow: $shadow;
    padding: var(--sp-xs);
    justify-content: space-between;

    .buttons,
    .buttons .open-apps {
        display: flex;
        gap: var(--sp-xs);
    }
}

.start-bar button {
    background: $g2;
    border: 0;
    box-shadow: $shadow;
    padding: var(--sp-xs);
    cursor: pointer;

    &:active {
        box-shadow: $shadow-reverse;
    }
}

.status {
    display: flex;
    gap: var(--sp-xs);
    margin-right: 20px;
}
.icon-app.counter {
    display: flex;
    width: fit-content;
    font-size: 10.5px;
    align-items: center;
    font-family: 'courier new', monospace;
    box-shadow: $shadow-reverse;
    text-transform: lowercase;
    padding: 0 10px;
    -webkit-font-smoothing: none;
    text-rendering: optimizelegibility;
}
.imood {
    box-shadow: $shadow-reverse;
    display: flex;
    align-items: center;
    padding: 0 10px;
}