//variables 
$primary: rgba(242, 68, 213, 1);
$secondary: rgba(242, 68, 213, .5);
//css
#welcome-exe {
    width: 804px;
    box-sizing: border-box;
    height: fit-content;
    max-height: fit-content;
    display: block;

    position: absolute;
    left: 20%; 
    top: 2%;

    .window-body {
        padding: 0;
        height: 500px;
        overflow: hidden;
        max-height: 500px;
    }
}

.window-body-inside {
    padding: 0;
    width: 800px;
    height: fit-content;
    position: relative;
    overflow: hidden;

    font-family: "VT323", monospace;
    font-size: 18px;

    .heading {
        color: $primary;
        text-shadow: 0 0 15px $secondary, 0 0 10px $secondary;
        text-align: center;
        font-family: cursive;
    }

    .interface {
        width: 100%;
        height: fit-content;
        pointer-events: none;

        img {
            width: 100%;
        }
    }

    .message {
        background-color: black;
        position: absolute;
        color: #fff;

        bottom: 20px;
        left: 40px;
        width: 480px;
        height: 150px;
        padding: 0 10px;
        box-sizing: border-box;

        .counter {
            color: red;
        }
    }

    .typing {
        display: none;
    }

    .profile-photo {
        position: absolute;
        top: 39px;
        right: 40px;
        width: 161px;
        height: 161px;
        display: block;
        background-color: #000;
        color: #fff;
        overflow-y: hidden;
        display: flex;

        > * {
            width: 161px;
            height: auto;
        }
    }

    .navigation {
        position: absolute;
        right: 40px;
        top: 238px;
        width: 160px;
        height: 92px;
        background-color: #000;
        color: #fff;
        padding: 5px;
        box-sizing: border-box;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

/* triangle */
.pixel-triangle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: triangle-dig 1.4s ease-in-out infinite;
}

.rec-upper,
.rec-middle,
.rec-lower,
.rec-tip {
    margin: 0 auto;
    height: 3px;
    background-color: #fff;
}
.rec-upper {
    width: 21px;
}
.rec-middle {
    width: 15px;
}
.rec-lower {
    width: 9px;
}
.rec-tip {
    width: 3px;
}
.wrapper:hover .pixel-triangle {
    opacity: 0;
}

@keyframes triangle-dig {
    0% {
      transform: translate(0px, 0px)
    }

    50% {
      transform: translate(0px, 6px)
    }

    100% {
      transform: translate(0px, 0px)
    }
  }
  
  .has-anim {
    transition: all .2s ease-in-out;
    transition-delay: 10s;
  }
  
.hidden-content {
    display: none;
}