/* Window */
.window {
    position: absolute;
    
    width: 600px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    margin: var(--sp-base);

    /* border */
    border-bottom: 2px solid #666;
    border-left: 2px solid #ccc;
    border-right: 2px solid #666;
    border-top: 2px solid #ccc;
    background-color: $g1;
    padding: 3px;

    .window-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        cursor: grab;
        
        .background {
            background-color: #C5C1C6;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            box-sizing: border-box;
        }
    }

    .window-title {
        z-index: 10;
        width: fit-content;
        pointer-events: none;
    }
    
    .window-body {
        padding: 5px;
        background-color: #fff;
        max-height: calc(400px - 50px);
        border-left: 2px solid #666;
        border-top: 2px solid #666;
        border-bottom: 2px solid #ccc;
        border-right: 2px solid #ccc;
    }
    
    .window-controls {
        display: flex;
        gap: var(--sp-xxs);
    }
}

.window-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-left: 2px;
    width: 14px;
    height: 14px;
    padding: 8px 10px 10px 10px;
    border: 0;
    background: $g2;
    box-shadow: $shadow;

    &.window-close {
        &:before, &:after {
            transform-origin: center center;
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4px;
            margin-left: -1px;
            width: 2px;
            height: 8px;
            background: $bl;
        }
        &:before {
            transform: rotateZ(-45deg);
        }
        &:after {
            transform: rotateZ(45deg);
        }
    }

    &:active {
        box-shadow: $shadow-reverse;
    }
}

#readme {
    position: absolute;
    left: calc(90vw - 600px);
    top: 10%;

    .window-body {
        overflow-y: scroll;

        pre {
            width: fit-content;
            display: block;
            margin: auto;
        }
    }
}

#blog {
    position: absolute;
    width: 615px;
    max-height: 430px;
    left: 300px;
    top: 99px;
    .window-body {
        overflow-y: hidden;
        max-height: 100%;
        padding: 0;
    }
}

#guestbook {
    width: 700px;
    max-height: 430px;
    .window-body {
        overflow: hidden;
        max-height: 100%;
        padding: 0;
    }
}

#moon {
    position: absolute;
    top: 20px;
    right: 10%;
    height: 350px;
    .window-body {
        padding: 0;
    }
}

#FAQ {
    position: absolute; 
    top: 20%;
    left: 5%;
    .window-body {
        background-color: #fff;
        overflow-y: scroll;
    }
    h4 {
        color: blue;
    }
}