#your-eyes {
    position: absolute;
    top: 10%;
    left: 40%;

    .window-header {
        cursor: grab;
    }

    .window-body {
        overflow-y: hidden;
        padding: 0;
    }
}

#your-eyes-iframe {
    // background: none;

    .window-body-inside {
        width: 800px;
    }
}

.thumbnails {

    > .thumbnail {
        position: relative;

        .caption {
            position: absolute;
            bottom: 75px;
            color: #000;
        }
    }   
}