#your-eyes {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 800px;
    max-height: 625px;


    .window-header {
        cursor: grab;
    }

    .window-body {
        overflow: hidden;
        padding: 0;
        max-height: 570px;
    }

    .window-toolbar {
        background-color: $g1;
        padding: var(--sp-xxs) 0;

        button {
            border: 0;
            text-decoration: none;
            cursor: pointer;
            color: inherit;
            font-size: 14px;
            background-color: transparent;

            &:first-letter {
                text-decoration: underline !important;
            }

            &:hover {
                background-color: rgba(0,0,0, .3);
            }
        }
    }
}

#your-eyes-iframe {
    // background: none;

    .window-body-inside {
        width: 800px;
        overflow: hidden;
    }
}

.thumbnails {

    > .thumbnail {
        position: relative;

        .caption {
            position: absolute;
            bottom: 75px;
            color: #000;
        }
    }   
}