body {
    font-family: "JetBrains Mono", monospace;
    margin: 0;
}

:root {
    --sp-base: 20px;
    --sp-xs: 10px;
}

.visually-hidden {
    display: none;
}

/* Colors */
$g1: lighten(#C5C1C6, 10%);
$g2: lighten(#C5C1C6, 2%);
$g3: darken(#C5C1C6, 15%);
$hi: #F5C8BF;
$wh: white;
$bl: darken(#C5C1C6, 50%);
$bg: #E0D2C5;

$opaque-blue: rgb(21, 40, 224);
$transparent-blue: rgba(21, 40, 224, 0.25);

@import 'window';
@import 'start_bar';
@import 'icons';
@import 'scrollbar';
@import 'your_eyes_only';