:root {
  --sp-base: 20px;
  --sp-xs: 10px;
  --sp-xxs: 2px;
}

.visually-hidden {
  display: none;
}

/* Colors */
/* Others */
/* Typography */
/* Window */
.window {
  position: absolute;
  width: 600px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  margin: var(--sp-base);
  /* border */
  border-bottom: 2px solid #666;
  border-left: 2px solid #ccc;
  border-right: 2px solid #666;
  border-top: 2px solid #ccc;
  background-color: #dedcde;
  padding: 3px;
}
.window .window-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  cursor: grab;
}
.window .window-header .background {
  background-color: #C5C1C6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.window .window-title {
  z-index: 10;
  width: fit-content;
  pointer-events: none;
}
.window .window-body {
  padding: 5px;
  background-color: #fff;
  max-height: 350px;
  border-left: 2px solid #666;
  border-top: 2px solid #666;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.window .window-controls {
  display: flex;
  gap: var(--sp-xxs);
}

.window-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-left: 2px;
  width: 14px;
  height: 14px;
  padding: 8px 10px 10px 10px;
  border: 0;
  background: #cac6cb;
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 white, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 #dedcde;
}
.window-controls button.window-close:before, .window-controls button.window-close:after {
  transform-origin: center center;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -1px;
  width: 2px;
  height: 8px;
  background: #464147;
}
.window-controls button.window-close:before {
  transform: rotateZ(-45deg);
}
.window-controls button.window-close:after {
  transform: rotateZ(45deg);
}
.window-controls button:active {
  box-shadow: inset -1px -1px 0 0 white, inset 1px 1px 0 0 #464147, inset -2px -2px 0 0 #cac6cb, inset 2px 2px 0 0 #a099a1;
}

#readme {
  position: absolute;
  left: calc(90vw - 600px);
  top: 10%;
}
#readme .window-body {
  overflow-y: scroll;
}
#readme .window-body pre {
  width: fit-content;
  display: block;
  margin: auto;
}

#programs {
  top: 0;
  left: 175px;
}

#blog {
  position: absolute;
  width: 800px;
  max-height: 430px;
  left: 300px;
  top: 99px;
}
#blog .window-body {
  overflow-y: hidden;
  max-height: 100%;
  padding: 0;
}

#guestbook,
#the-library {
  width: 700px;
  max-height: 430px;
}
#guestbook .window-body,
#the-library .window-body {
  overflow: hidden;
  max-height: 100%;
  padding: 0;
  border: none;
}

#moon {
  position: absolute;
  top: 20px;
  right: 10%;
  width: 500px;
  height: 435px;
  max-height: 435px;
}
#moon .window-body {
  padding: 0;
  max-height: 435px;
}

#FAQ,
#site-credits {
  position: absolute;
  top: 20%;
  left: 5%;
}
#FAQ .window-body,
#site-credits .window-body {
  background-color: #fff;
  overflow-y: scroll;
}
#FAQ h4,
#site-credits h4 {
  color: blue;
}

.start-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: var(--sp-xs);
  border: 0;
  background: #cac6cb;
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 white, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 #dedcde;
  padding: var(--sp-xs);
  justify-content: space-between;
}
.start-bar .buttons,
.start-bar .buttons .open-apps {
  display: flex;
  gap: var(--sp-xs);
}

.start-bar button {
  background: #cac6cb;
  border: 0;
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 white, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 #dedcde;
  padding: var(--sp-xs);
  cursor: pointer;
}
.start-bar button:active {
  box-shadow: inset -1px -1px 0 0 white, inset 1px 1px 0 0 #464147, inset -2px -2px 0 0 #cac6cb, inset 2px 2px 0 0 #a099a1;
}

.status {
  display: flex;
  gap: var(--sp-xs);
  margin-right: 20px;
}

.icon-app.counter {
  display: flex;
  width: fit-content;
  font-size: 10.5px;
  align-items: center;
  font-family: "courier new", monospace;
  box-shadow: inset -1px -1px 0 0 white, inset 1px 1px 0 0 #464147, inset -2px -2px 0 0 #cac6cb, inset 2px 2px 0 0 #a099a1;
  text-transform: lowercase;
  padding: 0 10px;
  -webkit-font-smoothing: none;
  text-rendering: optimizelegibility;
}

.imood {
  box-shadow: inset -1px -1px 0 0 white, inset 1px 1px 0 0 #464147, inset -2px -2px 0 0 #cac6cb, inset 2px 2px 0 0 #a099a1;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

/* Icon Library */
.icon-grid {
  display: flex;
  margin: var(--sp-base);
  gap: var(--sp-base);
  flex-wrap: wrap;
  width: 168px;
}

.window-body > .icon-grid {
  width: 100%;
}

.icon-grid div:nth-child(2n) {
  flex-break: after;
}

a.icon-link {
  color: black;
  text-decoration: none;
}

.icon-app {
  width: 64px;
  text-align: center;
  font-size: 14px;
}
.icon-app span {
  border: 1px dotted rgba(0, 0, 0, 0);
  box-sizing: content-box;
}
.icon-app span:first-child {
  display: block;
  height: 32px;
  width: 32px;
  margin: 0 auto;
}
.icon-app:active span {
  background-color: rgba(21, 40, 224, 0.25);
  border: dotted 1px rgb(21, 40, 224);
}

.icon-app img {
  display: block;
  width: 32px;
  margin: auto;
}

.icon-app:hover {
  cursor: hand;
}

.icon-app .folder {
  background-image: url("../images/Folder.ico");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 32px;
}

.icon-app:hover .folder {
  background-image: url("../images/Folder-Open.ico");
}

.icon-app .wing {
  background-image: url("../images/main_small.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 32px;
}

.icon-app:hover .wing {
  background-image: url("../images/main_small_hover.png");
}

.icon-app .moon {
  background-image: url("../images/moon_rotating.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 32px;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: white;
  background-image: linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0), linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0);
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 #cac6cb, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 white;
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  z-index: 1;
}

::-webkit-scrollbar-corner {
  background-color: #cac6cb;
}

::-webkit-resizer {
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==");
  background-position: bottom right;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

::-webkit-scrollbar-button {
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 #cac6cb, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 white;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: 65% center;
}
::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
}
::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}
::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}
::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:active {
  border-top: 1px solid #a099a1;
  border-left: 1px solid #a099a1;
  border-bottom: 1px solid #a099a1;
  border-right: 1px solid #a099a1;
  box-shadow: none;
}

/* Apps */
#your-eyes {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 800px;
  max-height: 625px;
}
#your-eyes .window-header {
  cursor: grab;
}
#your-eyes .window-body {
  overflow: hidden;
  padding: 0;
  max-height: 570px;
}
#your-eyes .window-toolbar {
  background-color: #dedcde;
  padding: var(--sp-xxs) 0;
}
#your-eyes .window-toolbar button {
  border: 0;
  background-color: transparent;
}
#your-eyes .window-toolbar button::first-letter {
  text-decoration: underline;
}

#your-eyes-iframe .window-body-inside {
  width: 800px;
  overflow: hidden;
}

.thumbnails > .thumbnail {
  position: relative;
}
.thumbnails > .thumbnail .caption {
  position: absolute;
  bottom: 75px;
  color: #000;
}

#welcome-exe {
  width: 804px;
  box-sizing: border-box;
  height: fit-content;
  max-height: fit-content;
  display: block;
  position: absolute;
  left: 183px;
  top: 114px;
}
#welcome-exe .window-body {
  padding: 0;
  height: 500px;
  overflow: hidden;
  max-height: 500px;
}

.window-body-inside {
  padding: 0;
  width: 800px;
  height: fit-content;
  position: relative;
  overflow: hidden;
  font-family: "VT323", monospace;
  font-size: 18px;
}
.window-body-inside .heading {
  color: rgb(242, 68, 213);
  text-shadow: 0 0 15px rgba(242, 68, 213, 0.5), 0 0 10px rgba(242, 68, 213, 0.5);
  text-align: center;
  font-family: cursive;
}
.window-body-inside .interface {
  width: 100%;
  height: fit-content;
  pointer-events: none;
}
.window-body-inside .interface img {
  width: 100%;
}
.window-body-inside .message {
  background-color: black;
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 40px;
  width: 480px;
  height: 150px;
  padding: 0 10px;
  box-sizing: border-box;
}
.window-body-inside .message .counter {
  color: red;
}
.window-body-inside .typing {
  display: none;
}
.window-body-inside .profile-photo {
  position: absolute;
  top: 39px;
  right: 40px;
  width: 161px;
  height: 161px;
  display: block;
  background-color: #000;
  color: #fff;
  overflow-y: hidden;
  display: flex;
}
.window-body-inside .profile-photo > * {
  width: 161px;
  height: auto;
}
.window-body-inside .navigation {
  position: absolute;
  right: 40px;
  top: 238px;
  width: 160px;
  height: 92px;
  background-color: #000;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
}

/* triangle */
.pixel-triangle {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  animation: triangle-dig 1.4s ease-in-out infinite;
}

.rec-upper,
.rec-middle,
.rec-lower,
.rec-tip {
  margin: 0 auto;
  height: 3px;
  background-color: #fff;
}

.rec-upper {
  width: 21px;
}

.rec-middle {
  width: 15px;
}

.rec-lower {
  width: 9px;
}

.rec-tip {
  width: 3px;
}

.wrapper:hover .pixel-triangle {
  opacity: 0;
}

@keyframes triangle-dig {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 6px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.has-anim {
  transition: all 0.2s ease-in-out;
  transition-delay: 10s;
}

#newsletter {
  top: 20%;
  left: 15%;
  display: none;
}

#newsletter .window-body {
  background-color: #dedcde;
  border: none;
  font-size: 14px;
}
#newsletter .window-body label {
  display: inline-block;
}
#newsletter .window-body label:first-letter {
  text-decoration: underline;
}

#newsletter .window-body input {
  background-color: #fff;
  border: solid 1px;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  margin: calc(var(--sp-xxs) * 2) 0;
  padding: calc(var(--sp-xxs) * 2);
  border-left: 2px solid #666;
  border-top: 2px solid #666;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
#newsletter .window-body input:focus, #newsletter .window-body input:focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(21, 40, 224, 0.25);
  border: solid 2px rgb(21, 40, 224) !important;
  outline: none;
  border-radius: 0 !important;
}

#newsletter .window-body input[type=submit] {
  background: #cac6cb;
  border: 0;
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 white, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 #dedcde;
  padding: var(--sp-xs);
  cursor: pointer;
  margin: 10px 0;
}
#newsletter .window-body input[type=submit]:active {
  box-shadow: inset -1px -1px 0 0 white, inset 1px 1px 0 0 #464147, inset -2px -2px 0 0 #cac6cb, inset 2px 2px 0 0 #a099a1;
}

body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  background: url(../placeholders/wing_bg.jpg) 40% center no-repeat;
  background-size: 175vw;
}

button {
  font-family: "JetBrains Mono", monospace;
}

#Recycle-Bin {
  position: absolute;
  left: 219px;
  top: 229px;
}

/*# sourceMappingURL=style.css.map */
