:root {
    --sp-base: 20px;
    --sp-xs: 10px;
    --sp-xxs: 2px;
}

.visually-hidden {
    display: none;
}

@import 'variables';
@import 'window';
@import 'start_bar';
@import 'icons';
@import 'scrollbar';

/* Apps */
@import 'your_eyes_only';
@import 'welcome_exe';
@import 'newsletter';

body {
    font-family: $font-primary;
    margin: 0;
    background: url(../placeholders/wing_bg.jpg) 40% center no-repeat;
    background-size: 175vw;
}

button {
    font-family: $font-primary;
}

#Recycle-Bin {
    position: absolute;
    left: 219px; 
    top: 229px;
}

/* Goku */
#goku {
    position: absolute;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    bottom: 60px;
    display: none;
}
#goku img {
    left: 0;
    position: relative;
    animation: goku 24s linear infinite;
    animation-delay: 1s;
}

@keyframes goku
{
    0% {
        left: 0;
    }
    30% {
        left: 110%;
    }
    100% {
        left: 110%;
    }
}