:root {
    --sp-base: 20px;
    --sp-xs: 10px;
    --sp-xxs: 2px;
}

.visually-hidden {
    display: none;
}

@import 'variables';
@import 'window';
@import 'start_bar';
@import 'icons';
@import 'scrollbar';

/* Apps */
@import 'your_eyes_only';
@import 'welcome_exe';
@import 'newsletter';

body {
    font-family: $font-primary;
    margin: 0;
    background: url(../placeholders/wing_bg.jpg) 40% center no-repeat;
    background-size: 175vw;
}

button {
    font-family: $font-primary;
}

#Recycle-Bin {
    position: absolute;
    left: 219px; 
    top: 229px;
}

/* Goku */
#goku {
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: 60px;
    display: none;
}
#goku img {
    left: 0;
    position: relative;
    animation: goku 24s linear infinite;
    animation-delay: 1s;
    cursor: pointer;

    &:hover {
        animation-play-state: paused;
    }
}

#Portal {
    mix-blend-mode: color-dodge;
    position: absolute; 
    right: 5%;
    animation: portal 5s linear; 
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display: block;
    height: 150px;
    transform: scale(0%);
    cursor: pointer;

    img {
        height: 150px;
        width: 150px;
    }

    &:hover {

        img {
            animation: pulseOpacity 3s ease-out infinite;
        }
    }
}

@keyframes portal {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}
@keyframes pulseOpacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: .99;
    }
}
@keyframes goku {
    0% {
        left: 0;
    }
    30% {
        left: 110%;
    }
    100% {
        left: 110%;
    }
}