/* Colors */
/* Others */
/* Typography */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: white;
  background-image: linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0), linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0);
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 #cac6cb, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 white;
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  z-index: 1;
}

::-webkit-scrollbar-corner {
  background-color: #cac6cb;
}

::-webkit-resizer {
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==");
  background-position: bottom right;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

::-webkit-scrollbar-button {
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 #cac6cb, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 white;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #cac6cb;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: 65% center;
}
::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
}
::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
}
::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}
::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}
::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:active {
  border-top: 1px solid #a099a1;
  border-left: 1px solid #a099a1;
  border-bottom: 1px solid #a099a1;
  border-right: 1px solid #a099a1;
  box-shadow: none;
}

body, input {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  overflow-x: hidden;
}

body {
  margin: 8px 0;
}

.layout {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  column-count: 2;
  flex-wrap: wrap;
  font-family: var(--primary-font);
  height: fit-content;
  margin-bottom: 8px;
  overflow-y: scroll;
  height: calc(100% - 22px);
}

.column {
  width: calc(50% - 10px);
  position: relative;
}

@media screen and (max-width: 1200px) {
  .layout {
    width: 100%;
    gap: 20px;
  }
  .column {
    width: calc(50% - 20px);
  }
}
.box {
  left: 0;
  top: 0;
  padding: 8px 2px 0 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
}

.cell {
  margin-bottom: 2px;
  padding: 0 10px;
  display: block;
  height: fit-content;
  position: relative;
}
.cell p {
  margin: 0;
}

body {
  background-color: #dedcde;
  border: none;
}
body label {
  display: inline-block;
}
body label:first-letter {
  text-decoration: underline;
}

form {
  margin-top: 1em;
}

.field {
  display: flex;
  padding: 5px 0;
  gap: 5px;
  align-items: center;
}
.field :first-child {
  width: 30%;
  text-align: right;
}

input,
textarea {
  background-color: #fff;
  border: solid 1px;
  font-size: 14px;
  margin: calc(var(--sp-xxs) * 2) 0;
  padding: 4px;
  width: 70%;
  border-left: 2px solid #666;
  border-top: 2px solid #666;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
input:focus, input:focus-visible,
textarea:focus,
textarea:focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(21, 40, 224, 0.25);
  border: solid 2px rgb(21, 40, 224) !important;
  outline: none;
  border-radius: 0 !important;
}

.status-bar {
  box-shadow: inset -1px -1px 0 0 white, inset 1px 1px 0 0 #464147, inset -2px -2px 0 0 #cac6cb, inset 2px 2px 0 0 #a099a1;
  width: calc(100% - 11px);
  padding: 6px;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-font-smoothing: none;
  text-rendering: optimizelegibility;
  font-size: 10.5px;
}

input[type=submit] {
  background: #cac6cb;
  border: 0;
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 white, inset -2px -2px 0 0 #a099a1, inset 2px 2px 0 0 #dedcde;
  padding: var(--sp-xs);
  cursor: pointer;
  margin: 10px 0;
  width: fit-content;
  padding: 10px;
  float: right;
}
input[type=submit]:first-letter {
  text-decoration: underline;
}
input[type=submit]:active {
  box-shadow: inset -1px -1px 0 0 white, inset 1px 1px 0 0 #464147, inset -2px -2px 0 0 #cac6cb, inset 2px 2px 0 0 #a099a1;
}

/*# sourceMappingURL=style.css.map */
