@import '../../../styles/variables';
@import '../../../styles/scrollbar';

body, input, button {
  font-family: $font-primary;
  font-size: 14px;
}

body {
  margin: 8px auto;
  max-width: 700px;
}

.layout {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    column-count: 2;
    flex-wrap: wrap;
    font-family: var(--primary-font);
    height: fit-content;
    margin-bottom: 8px;
    height: calc(100% - 22px);
}

.column {
  width: calc(50% - 10px);
  position: relative;
}

@media screen and (max-width: 1200px) {
  .layout {
    width: 100%;
    gap: 20px;
  }
  .column {
    width: calc(50% - 20px);
  }
}

.box {
  padding: 8px 2px 0 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &.form {
    position: sticky;
    width: 100%;
    top: 0;
  }
}

.cell {
  margin-bottom: 2px;
  padding: 0 10px;
  display: block;
  height: fit-content;
  position: relative;

  p {
    margin: 0;
  }
}

body {
  background-color: #dedcde;
  border: none;

  label {
      display: inline-block;

      &:first-letter {
          text-decoration: underline; 
      }
  }
}

form {
  margin-top: 1em;
}

.field {
  display: flex;
  padding: 5px 0;
  gap: 5px;
  align-items: center;

  :first-child {
      width: 30%;
      text-align: right;
  }
}

input,
textarea {
  background-color: #fff;
  border: solid 1px;
  font-size: 14px;
  margin: calc(var(--sp-xxs) * 2) 0;
  padding: 4px;
  width: 70%;

  border-left: 2px solid #666;
  border-top: 2px solid #666;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;

  &:focus, &:focus-visible {
      box-shadow: 0 0 0 0.1rem $transparent-blue;
      border: solid 2px $opaque-blue !important;
      outline: none;
      border-radius: 0 !important;
  }
}

.status-bar {
  box-shadow: $shadow-reverse;
  background-color: #dedcde;
  width: calc(100% - 11px);
  padding: 6px;
  position: fixed; 
  bottom: 0; 
  left: 0;
  -webkit-font-smoothing: none;
  text-rendering: optimizelegibility;
  font-size: 10.5px;
}

.buttons {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: 0 0 0 auto;
}

button {
  background: $g2;
  border: 0;
  box-shadow: $shadow;
  padding: var(--sp-xs);
  cursor: pointer;
  margin: 10px 0;
  width: fit-content;
  padding: 10px;
  
  &:first-letter {
    text-decoration: underline; 
  }

  &:active {
      box-shadow: $shadow-reverse;
  }
}